.header {
  display: flex;
  justify-content: center;
  height: 260px;
  position: relative;
  background: #414141;
  background-position: center;
  background-size: cover;
  img {
    display: block;
    border-radius: 100%;
    width: 180px;
    margin: 0 auto;
    position: absolute;
    top: 134px;
    z-index: 3;
  }
  div {
    position: absolute;
    top: 50px;
    color: #fff;
    font-size: 34px;
    font-family: 'Helvetica Neue', serif;
    font-weight: 100;
    text-shadow: 0 0 3px #373737;
  }
}
