.overlay {
  width: 1000px;
  height: 1000px;
  background-color: #fefefe;
  border-radius: 100%;
  position: absolute;
  z-index: 1;
  top: 220px;
  left: 50%;
  margin-left: -500px;
  box-shadow: 0 0 2px #4d4d4d;
}