.tableItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 10px;
  cursor: pointer;
  &:hover {
    background-color: #edeced;
  }
  img {
    width: 100px;
    margin-right: 20px;
    display: block;
    border-radius: 4px;
  }
  p {
    font-size: 18px;
    font-weight: 200;
    color: #0b0b0b;
  }
}
.tableItemPhotos {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
  cursor: pointer;
  margin-bottom: 20px;
  img {
    max-width: 100%;
    margin-bottom: 10px;
  }
  p {
    font-size: 18px;
    font-weight: 200;
    color: #0b0b0b;
  }
}