.tableItemPhotos {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
  cursor: pointer;
  img {
    max-width: 100%;
    margin-bottom: 10px;
  }
  p {
    font-size: 18px;
    font-weight: 200;
    color: #0b0b0b;
  }
}