.tabs {
  display: flex;
  justify-content: space-between;
  z-index: 2;
  position: relative;
  margin-bottom: 12px;
  a {
    padding: 14px 0px;
    color: #0b0b0b;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    font-weight: 300;
    width: 28%;
    border-bottom: solid 2px transparent;
    &:hover {
      color: #7ad0f1;
    }
    &.selected {
      color: #59c0e8;
      border-bottom: solid 2px;
    }
  }
}

.selected {
  color: #59c0e8;
  border-bottom: solid 2px;
}